/* Formulario. */
.formulario{
    display: flex;
    flex-direction: column;

    input[type="text"],
    input[type="email"],
    textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    }

    input[type="submit"] {
      background-color: #333;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      font-size: 1rem;
      cursor: pointer;
    }
  }

  .mainformulario{
    height: 53rem;
  }